* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    font-family: "Oxygen", sans-serif;
    letter-spacing: 0.0625em;
}


.wrapper{
    margin: auto ;
    padding: auto;
    max-width: 400px;
}

