* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    font-family: "Oxygen", sans-serif;
    letter-spacing: 0.0625em;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
}

.header-nav {
    border-bottom: 2px solid #e4e0e1;
    color: #221e1f;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.header-nav-brand {
    padding-top: 10px;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.header-nav-list li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
}

.header-nav-list li a {
    text-decoration: none;
    color: #9900cc;
    font-weight: 700;
    transition: all .3s;
}

.header-nav-list li a:hover {
    color: #0ca6d8;
}

.header-nav-toggle {
    display: none;
    background-color: #dfdfdf;
    color: #660033;
    padding: 10px;
    height: 80px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

#top-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#top-header .large-logo {
    width: 50vh;
    height: 50vh;
}

#top-header img {
    width: 20vh;
    height: 200vh;
}

.small-logo {
    margin: 8vh;
}
