* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.nav-bar{
  
  width: 100%;
  padding: 20px;
  
  background: #55aa97;


}

h1 {
	padding-top: 15px;
]
}

ul {

	width: 80%;
	margin: 0 auto;
	padding: 0;
	 float: left;
}

li {

	list-style: none;
	display: inline-block;
    padding: 20px;


}


