body {
	margin: 0;

}

.topnav {
	overflow: hidden;
	background-color: #FF8D0A;
	padding-top: 5px !important ;
	padding-bottom: 5px !important;
	min-height: 32px;
	line-height: 1em;
}

.logo{
	text-align: center;

}
.topnav a {

	float: right;
	display: flex;
	flex-direction: row-reverse;
	padding-left: 20px;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	height: 5px;
	text-decoration: none;
	font-size: 17px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}