body {
	padding: 0px;
	margin: 0;

	font-family: sans-serif;
}

.nav-bar{
  
  width: 100%;
  
  
  background: #55aa97;


}

h1 {
	padding-top: 15px;
	float: left;

}

ul {

	width: 80%;
	margin: 0 auto;
	padding: 0;
	 
}

li {

	list-style: none;
	display: inline-block;
    padding: 20px;
    float: right;


}




