* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.nav-bar{
  
  width: 100%;
  
  background: #55aa97;


}

ul {

	width: 80%;
	margin: 0 auto;
	padding: 0;
}

li {

	list-style: none;
	display: flex;
	
}